/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /*===========Bizinga Customer Reviews Styling=========*/
 @import url('https://fonts.googleapis.com/css?family=Roboto');
 body {
     font-family: 'Roboto', sans-serif;
   }
 .review-wrapper{
 font-size: 12px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 letter-spacing: normal;
 padding:10px;
 }
 .heading{
  font-size: 13px;
 font-weight: 600;
 color: #212121;
 }
 .left, .right{
 padding: 15px;
 box-sizing: border-box;
 }
 /*Star Rating section starts*/
 p{
 font-size: 14px;
 font-weight: 500;
 color: #212121;
 margin: 0px;
 text-align: justify;
 }
 span, .starsWithBubble{
 display: inline-block;
 }
 .starOn{
  color: #1976d2;
 }
 .card-content-wrapper{
 font-size: 11px;
 letter-spacing: -0.2px;
 color: #999999;
 }
 .review-summary{
 display:table;
 width: 100%;
 }
 .review-bar{
 display: table-cell;
 vertical-align: middle; 
 width:70%;
 }
 .review-summary .beInverseRating .ratingval {
   color: #999;
  
   display: inline-block;
   text-align: center;
   font-size: 11px;
   font-weight: 400;
   margin-right: 5px;
 }
 #reviewsBySite .review-summary .be-c-ratingval {
   font-size: 55px;
   font-weight: 300;
   color: #1976d2;
   margin-bottom: 0px;
   width: 100%;
 margin-top: 25%;
 } 
 .bf-brand-color-bg {
 background-color: #1976d2;
 display: inline-block; 
 border-radius: 2px;       
 width:57.333333333333%; 
 margin: 2px 4px;
 height: 18px;
 }
 .number{
  font-size: 11px;
 text-align: center;
 color: #666666;
 margin-top: 5px;
 }
 .review-bar .number{
 font-size: 11px;
 letter-spacing: -0.2px;
 color: #999999;
 }
 .stars-without-bubble .number{
 font-size: 12px;
 }
 .noRating {
   padding-top: 10px;
   font-size: 11px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   color: #666666;
 }
 /*Will be removed later*/
 .bar2{   
 width:4.6349206349206%; 
 }
 .bar3{
 width:1.015873015873%; 
 }
 /*Star Rating section ends*/
 /*Review Sources starts*/
 .reviews-sources{
 padding: 20px 0px 0px;
 box-sizing: border-box;
 margin-bottom: -20px;
 }
 .reviews-sources span{
 margin-bottom: 10px;
 margin-left: 3px;
 color: #535353;
 }
 .reviews-source input{
 margin: 5px 5px 5px 0px;
 }
 .reviews-source{
   font-size: 12px;
 color: #212121;
 }
 /*Review Sources ends*/
 /*Buttons*/
 .actionButtonWrapper{
 padding-top: 20px;
 }
 .actionButtonWrapper a {
 width: 150px;
 border-radius: 4px;
 display: block;
 background-color: #1976d2;
 text-decoration: none;
 font-size: 12px;
 font-weight: bold;
 text-align: center;
 color: #ffffff;
 margin: 10px auto;
 cursor: pointer;
 padding: 13px 0px;
 }
 .actionButtonWrapper a:last-child {
   background-color: #1976d2;
 }
 .powered{
 text-align: center;
 padding-top: 20px;
 }
 .left hr{
 margin-bottom: 0px;
 }
 .bew-avgstars {
   text-align: center;
 }
 /*Left section ends*/
 /*Right section starts*/
 select{
     width: 154px;
   height: 26px;
   background-color: #ffffff;
   border: solid 1px #dddddd;
   font-size: 11px;
  font-weight: normal;
  float: right;
 }
 hr{
 opacity: 0.22;
   margin: 30px 0px;
   border: none;
   border-bottom: 2px solid #ccc;
 }
 .right .block{
 border-bottom: none;
 padding-bottom: 15px;
 }
 .right .heading{
 font-weight: bold;
 margin-top: -15px;
   margin-left: 40px;
 }
 .person{
 width: 38px;
 height: 37px;
 border-radius: 18px;
 margin-top:0px;
 display:none;
 }
 .star-num{
   width: 30px;
 height: 17px;
 border-radius: 20px;
 background-color: #1976d2;
 font-size: 11px;
 font-weight: bold;
 text-align: center;
 line-height: 1.60;
 color: #ffffff;
 }
 .star-num > span {
   height: 11px;
   display: inline-block;
   vertical-align: top;
   padding-top: 3px;
   padding-left: 2px;
 }
 .date{
 font-size: 11px;
 font-weight: bold;
 line-height: 1.09;
 color: #585858;
 }
 .on-brand{
 font-size: 11px;
 font-weight: bold;
 line-height: 1.09;
 color: #1976d2;
 text-transform: capitalize;
 margin: 0px 2px 0 5px;
 }
 div.flex {
   display: flex;
 }
 
 .flex p.image {
   margin-top: -10px;
   margin-right: 9px;
 }
 .content{
 font-size: 12px;
 line-height: 1.58;
 color: #212121;
 margin-top: 10px;
 }
 .on-brand .brand{
  color: #1976d2;
 }
 .comment{
 line-height: 1.58;
 color: #212121;
 }
 .right .actionButtonWrapper{
 padding-top: 0px;
 }
 .right .actionButtonWrapper a{
   background-color: #1976d2;
 }
 
 .block {
 padding-bottom: 30px;
 border-radius: 3px;
 }
 
 .owl-carousel .owl-stage-outer {
 height: 300px;
 }
 .owl-carousel .owl-item img {
 display: flex;
 width: 20%;
 align-self: center;
 }

 .card-img-top {
  width: 80px!important;
  margin-top: 5px;
}

.owl-item .card {
  height: 300px!important
}