/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.beform {
    
 }
.be-logo {
width: 116.8px;
    height: 27.5px;
    padding-top: 80px;
    padding-bottom: 40.5px;
}
.bg {
  width: 841px;
  height: 710px;
  display: block;
  margin: 0 auto;
}
.be-container {
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 78px;
  width: 100%;
}
.be-seeting {
  width: 1028px;
  height: 879px;
  background-color: #ffffff;
  display: inline-block;
}
.be-head{
  padding-bottom: 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #212121;
  border-bottom: 1px solid #ccc;
}
.be-social{margin-bottom: 25px;}
.be-social a{text-decoration: none;  }
.be-social img{margin-bottom: -7px;border-radius: 2px;}
.twit{
  width: 130px;
  height: 25px;
  border-radius: 2px;
  background-color: #56adec;
}
.be-container .fb{
  width: 130px;
  height: 25px;
  border-radius: 2px;
  background-color: #3c5a9a;
}
.be-container .yout{
   max-height: 25px;
   width: 137px;
   height: 24px;
   border-radius: 2px;
   background-color: #cc3333;
}
.be-container .Follow-on-Twitter {
    width: 78px;
    height: 11px;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 4px 3px;
    font-weight: bold;
    position: relative;
    top: -1px;
    margin-left: 6px;
}
.be-container .Subscribe-On-YouTube {
  width: 89px;
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  top: -1px;
  white-space: nowrap;
  margin-left: 6px;
}
.be-container .Like-on-Facebook {
 width: 78px;
 height: 11px;
 font-size: 10px;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #ffffff;
 padding: 4px 3px;
 font-weight: bold;
 position: relative;
 top: -1px;
 margin-left: 6px;
}
.be-container .twit , .be-container .fb, .be-container .yout {display: inline-table;margin-right:15px;} 
.be-container input.txt {
  width: 74%;
  height: 26px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
  margin-bottom:0px;
  float: right;
  box-shadow: none;
  font-size: 12px;
  color: #212121;
  padding: 6px 6px 6px 8px;
  font-weight:500;
  /* margin-left: 28px; */
}
.be-container input.btn {
  color: #00008B;
  background-color: #ADD8E6;
  border: 1px outset #00008B;
}
.be-container textarea{
  width: 74%;
  height: 78px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  float: right;
  box-shadow: none;
  font-size: 12px;
  color: #212121;
font-weight:500;

}
.be-container form {
  width: 100%;
  padding-top: 15px;
}
.be-container form div {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  /* padding-bottom: 0px; */
}
.be-container form div label {
  float: left;
  width: 25%;
  font-size: 12px;
    margin-top: 5px;
    color: #212121;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.be-container .logo img{margin-bottom: 40px;}
.be-container .switch input {display:none;}
.be-container .wp-admin select{
    width: 154px;
    height: 26px;
    padding: 4px 8px;
    line-height: 1;
    border: 1px solid #dddddd;
    background: #fff url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 94% 50%;
    margin-left: 5px;
    box-shadow: none;
    font-size: 12px;
    color: #212121;
}
.be-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.be-container .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.be-container .switch input:checked + .slider {
  background-color: #1976d2;
  color: #fff;
  padding: 5px;
  margin-right: 8px;

}

.be-container .switch input:focus + .slider {
  box-shadow: 0 0 1px #1976d2;
}


.be-container .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}

/* Rounded sliders */
.be-container .slider.round {
  border-radius:2px;
}

.be-container .slider.round:before {
  border-radius:0%;
}

.be-container .wrap {
display: inline-block;

}
.be-container hr{float: left;}

.be-container .wrap h1 {
font-weight: 500;
font-size: 15px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -0.2px;
color: #212121;
}
.be-container .setting-cont{
margin-top: 80px;
    margin-left:92px;
    margin-right: 100px; 
}

.be-container #submit {

width: 130px;

height: 24px;

border-radius: 2px;

background-color: #1976d2;

float: right;

margin-bottom:80px;

font-weight: 500;

font-size: 11px;

font-style: normal;

font-stretch: normal;

line-height: normal;

letter-spacing: normal;

text-align: center;

color: #ffffff;
}

.be-container .switch {
  position: relative;
  display: block;
  width:62px;
  height: 26px;
  padding: 3px;
  margin: 0 10px 0px 3px;
  border-radius: 2px;
  cursor: pointer;
  box-sizing:content-box;
}
.be-container .switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing:content-box;
}
.be-container .switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 12px;
  text-transform: uppercase;
  background: #848080;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing:content-box;
  font-weight: 700;
}
.be-container .switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  box-sizing:content-box;
}
.be-container .switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #fff;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.be-container .switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.be-container .switch-input:checked ~ .switch-label {
  background: #1976d2;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.be-container .switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.be-container .switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.be-container .switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 22px;
  border-radius: 2px;
  height: 22px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.be-container .switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.be-container .switch-input:checked ~ .switch-handle {
  left:41px;
  border-radius: 2px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.be-container .switch-label,.be-container  .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

.be-container .form-table, .be-container .form-table td, .be-container .form-table td p, .be-container .form-table th {
    font-size: 12px;
}
.be-container .form-table th {
width: 140px;
}
.be-container p.submit {
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}
.bizinga-border-size, 
.bizinga-border-color, 
.bizinga-border-radius,
.bizinga-review-background,
.bizinga-review-color,
.bizinga-review-link-color,
.bizinga-review-star-color,
.bizinga-review-star-background-color {
  display: none;
} 
.be-container .small-txt {
  float: none;
  width: 22%;
}
